res/docbook43_book_typo3manuals.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- grammar for TYPO3 manuals -->
<!-- version 1.0 -->
<!-- contact for changes: DocTeam web: http://typo3.org/teams/documentation-team/ , email: Daniel Bruessler danielb@typo3.org -->
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0"
	datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<start>
		<element name="book">
			<attribute name="lang">
				<data type="language" />
			</attribute>
			<oneOrMore>
				<element name="chapter"><!-- headline 1 -->
					<ref name="title" />
					<ref name="content" />
				</element>
			</oneOrMore>
		</element>
	</start>

	<define name="literallayout">
		<element name="literallayout">
			<optional>
				<attribute name="type">
					<choice>
						<value>CSS</value>
						<value>HTML</value>
						<value>JS</value>
						<value>PHP</value>
						<value>shell</value>
						<value>SQL</value>
						<value>TS</value>
						<value>XML</value>
					</choice>
				</attribute>
			</optional>
			<text />
		</element>
	</define>

	<define name="content">
		<oneOrMore>
			<choice>
				<ref name="orderedlist" />
				<ref name="para" />
				<ref name="literallayout" />
				<ref name="informaltable" />
				<ref name="ulink" />
				<ref name="inlinegraphic" />
				<ref name="section" />
			</choice>
		</oneOrMore>
	</define>

	<define name="section"><!-- headline 2...5 -->
		<element name="section">
			<ref name="title" />
			<ref name="content" />
		</element>
	</define>

	<define name="para">
		<element name="para">
			<oneOrMore>
				<choice>
					<text />
					<ref name="literallayout" />
					<ref name="orderedlist" />
					<ref name="informaltable" />
					<ref name="inlinegraphic" />
					<ref name="ulink" />
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="title">
		<element name="title">
			<text />
		</element>
	</define>

	<define name="ulink">
		<element name="ulink">
			<attribute name="url">
				<data type="anyURI" />
			</attribute>
			<data type="anyURI" />
		</element>
	</define>

	<define name="inlinegraphic">
		<element name="inlinegraphic">
			<attribute name="fileref" />
			<zeroOrMore>
				<attribute name="width" />
			</zeroOrMore>
		</element>
	</define>

	<define name="orderedlist">
		<element name="orderedlist">
			<zeroOrMore>
				<attribute name="continuation">
					<data type="NCName" />
				</attribute>
			</zeroOrMore>
			<zeroOrMore>
				<attribute name="inheritnum">
					<data type="NCName" />
				</attribute>
			</zeroOrMore>
			<choice>
				<oneOrMore>
					<element name="listitem">
						<oneOrMore>
							<ref name="para" />
						</oneOrMore>
					</element>
				</oneOrMore>
				<oneOrMore>
					<ref name="para" />
				</oneOrMore>
			</choice>
		</element>
	</define>

	<define name="informaltable">
		<element name="informaltable">
			<zeroOrMore>
				<attribute name="frame">
					<data type="NCName" />
				</attribute>
			</zeroOrMore>
			<element name="tgroup">
				<zeroOrMore>
					<attribute name="cols">
						<data type="integer" />
					</attribute>
				</zeroOrMore>
				<zeroOrMore>
					<element name="thead">
						<ref name="row" />
					</element>
				</zeroOrMore>
				<element name="tbody">
					<oneOrMore>
						<ref name="row" />
					</oneOrMore>
				</element>
			</element>
		</element>
	</define>

	<define name="row">
		<element name="row">
			<oneOrMore>
				<ref name="entry" />
			</oneOrMore>
		</element>
	</define>

	<define name="entry">
		<element name="entry">
			<oneOrMore>
				<choice>
					<ref name="para" />
					<ref name="orderedlist" />
					<ref name="para" />
					<ref name="literallayout" />
					<ref name="informaltable" />
					<ref name="ulink" />
					<ref name="inlinegraphic" />
				</choice>
			</oneOrMore>
		</element>
	</define>

</grammar>
